*{
    box-sizing: border-box;

}
body{
    padding: 0;
    margin: 0 auto;
}
.container{
    display: flex;
    flex-direction: row;
    padding: 0 15px 0 15px;
    margin: 0 15px 0 15px;
}
.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 500px;
}
.left-side .matches{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    height: 75%;
}
.left-side .matches .match{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;

}
.left-side .matches .match .score .match-score{
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: space-evenly;
}
img{
    width: 70px;
}
input{
    width: 20px;
    border: none;
}